{% extends 'base.html.twig' %}

{% block title %}Home - Café & Code
{% endblock %}

{% block body %}
	<div class="container pt-5">
		<h2 class="text-center pb-4">Bienvenu sur Café & Code !</h2>
		<h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis nostrum odit quo blanditiis omnis officiis hic veniam quis debitis cupiditate. Fugiat nihil eos saepe porro quam obcaecati, blanditiis incidunt vel?</p>

	</div>

<main class="container pt-5">
	<div class="row">

		<div class="col-md-8">
			<h3 class="pb-4 mb-4 fst-italic border-bottom">Les 10 derniers articles</h3>
			<div id="article-list">
				{% include 'article/list.html.twig' with { article }%}
			</div>
		</div>

		<div class="col-md-4">
			<div class="position-sticky">
				<div class="p-4 mb-3 rounded">
					<h4 class="pb-2 mb-4 fst-italic border-bottom">Catégories</h4>
					<ol class="list-unstyled mb-0">
						<li>
							{% for article in article %}
							<div class="col">
								<a class="text-decoration-none" href="#">{{ article.category.name }}</a>
							{% endfor %}
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>

	</div>
</main>
{% endblock %}
