*{
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #eeeeee;
    color: #fff;
    padding: 1em;
  }
  
  nav img {
    display: flex;
    text-align: center;
    margin: auto;
    padding-top: 1em;
  }
  
  .mynavbar {
    text-align: center;
    padding: 1em;
  }
  
  .mynavbar ul {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .mynavbar li {
    padding-top: 1em;
    margin: 0 1em;
  }
  
  .mynavbar a {
    color: #333;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
  }