{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Tous les articles: ({{ article.getTotalItemCount }})</h1>
    {% include 'article/list.html.twig'%}
</div>

{% endblock %}
