{% for article in article %}
    {% include 'article/item.html.twig' with { article } %}
{% endfor %}

<div class="container">
    <div class= "row">
        <div class="d-flex align-items-center justify-content-center pagination">
            {{ knp_pagination_render(article) }}
        </div>
    </div>
</div>